{% load i18n %}

<div class="efa__zero-euro-info">
<h3>{% trans "Zero-Euro-Doctors" %}</h3>
<p>
  {% blocktrans %}
    All doctors that have not received payments from the pharma industry in the last year can register here.
  {% endblocktrans %}
</p>
<p>
  <a class="efa__button" href="{% trans "/recherchen/euros-fuer-aerzte/artikel/2017/05/16/interesse-am-konflikt/" %}">{% trans "background article" %}</a>

  <a class="efa__button--primary" href="{% url 'eurosfueraerzte:eurosfueraerzte-zerodocs_index' %}">{% trans "Register" %}</a>
</p>
</div>
