Django<1.11
dj-database-url
django-cache-url
djangorestframework
django-cors-headers
pytz
django-sekizai
psycopg2
django-leaflet
gunicorn
pandas
reportlab
whitenoise
slugify
django-debug-toolbar
django-crispy-forms
geocoder
tqdm
unicodecsv
