.efa__content {
  padding: 15px;
}
.efa__title {
  color: #316f89;
  font-size: 24px;
  padding: 30px 0 5px 0;
}
.efa__title:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  margin-top: 15px;
  background: #316f89;
}
.efa__button {
  color: white;
  background: #9c9c9c;
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  text-decoration: none;
}
.efa__button:hover,
.efa__button:active,
.efa__button:focus {
  background: #4d4d4d;
  color: white;
  text-decoration: none;
}
.efa__button--primary {
  color: white;
  background: #9c9c9c;
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  text-decoration: none;
  background: #316f89;
}
.efa__button--primary:hover,
.efa__button--primary:active,
.efa__button--primary:focus {
  background: #4d4d4d;
  color: white;
  text-decoration: none;
}
.efa__header,
.efa__header--split {
  background: #a8d0e0;
  position: relative;
  overflow: hidden;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .efa__header--split {
    background: linear-gradient(90deg, #a8d0e0 58.33333333%, #316f89 0);
  }
}
.efa__header__title,
.efa__header__title--light {
  margin: 0;
  padding: 15px 0 0 0;
  line-height: 1.2em;
  text-decoration: none;
  color: black;
}
@media (min-width: 992px) {
  .efa__header__title,
  .efa__header__title--light {
    font-size: 36px;
  }
}
.efa__header__title:link,
.efa__header__title:hover,
.efa__header__title:focus,
.efa__header__title:active {
  text-decoration: none;
  color: black;
}
.efa__header__title--light {
  color: white;
  display: block;
}
.efa__header__title--light:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  margin: 10px 0;
  background: white;
}
@media (min-width: 768px) {
  .efa__header__academic-title,
  .efa__header__name {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .efa__header__main {
    padding-right: 40%;
  }
}
@media (min-width: 768px) {
  .efa__header__main {
    width: 58.33333333%;
    float: left;
  }
}
.efa__header__sidebar,
.efa__header__sidebar--pharma {
  position: relative;
  z-index: 1;
  margin: -15px;
  background: #316f89;
  color: white;
}
@media (min-width: 768px) {
  .efa__header__sidebar,
  .efa__header__sidebar--pharma {
    float: right;
    width: 41.66666667%;
    min-height: 280px;
    margin: 0;
    padding: 0;
  }
}
.efa__header__sidebar p {
  padding: .33em 0;
  margin: 0;
}
.efa__header__sidebar:after,
.efa__header__sidebar--pharma:after {
  pointer-events: none;
}
@media (min-width: 768px) {
  .efa__header__sidebar:after,
  .efa__header__sidebar--pharma:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(/static/eurosfueraerzte/img/character-doctor-thumb.png);
    height: 220%;
    width: 370px;
    right: -15%;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .efa__header__sidebar:after,
  .efa__header__sidebar--pharma:after {
    height: 90%;
    right: 72%;
  }
}
.efa__header__sidebar.-zerodoc:after {
  background-image: none;
}
.efa__header__sidebar--pharma:after {
  background-image: url(/static/eurosfueraerzte/img/character-pharma.png);
}
@media (min-width: 992px) {
  .efa__header__sidebar--pharma:after {
    height: 95%;
    right: 72%;
  }
}
@media (min-width: 1200px) {
  .efa__header__sidebar--pharma:after {
    right: 76%;
  }
}
.efa__header__content {
  padding: 45px 0;
}
@media (min-width: 768px) {
  .efa__header__content {
    position: absolute;
    bottom: 0;
    width: 25%;
    z-index: 2;
  }
}
.efa__header__content.-zerodoc {
  width: 100%;
}
@media (min-width: 768px) {
  .efa__header__content.-zerodoc {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .efa__header__content.-zerodoc {
    width: 50%;
  }
}
.efa__header__about {
  padding: 30px 15px;
}
@media (min-width: 768px) {
  .efa__header__about {
    padding: 45px 0 45px 25%;
  }
}
.efa__header__more-link {
  color: #b8dfef;
  text-decoration: underline;
}
.efa__header__more-link:hover,
.efa__header__more-link:focus,
.efa__header__more-link:active {
  color: #a8d0e0;
}
.efa__header__back-link {
  color: #316f89;
  text-decoration: none;
}
.efa__header__meta {
  display: block;
}
.efa__header__credentials {
  display: block;
  margin: 0;
  padding: 15px 0 0 0;
}
.efa__header__credentials-item {
  position: relative;
  margin: 0;
  padding: .6em 0 0 1.2em;
  list-style: none;
  color: #316f89;
}
.efa__header__credentials-item:before {
  content: '✓ ';
  position: absolute;
  left: 0;
  font-weight: bold;
}
.efa__home-link {
  font-family: 'Neuzeit-Condensed', 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
  background: #316f89;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 4px 8px;
  line-height: 1.4em;
}
.efa__home-link:hover,
.efa__home-link:focus,
.efa__home-link:active {
  text-decoration: none;
  color: white;
  background: #1d4151;
}
.efa__home-link--subsection {
  margin: 0 5px;
  background: #1d4151;
}
.efa__home-link--subsection:hover,
.efa__home-link--subsection:focus,
.efa__home-link--subsection:active {
  text-decoration: none;
  color: white;
  background: black;
}
.efa__search {
  background: #a8d0e0;
  padding-bottom: 0px !important;
}
.efa__search__title {
  color: black;
  font-size: 36px;
  margin-bottom: 0;
}
.efa__search__title:after {
  content: '';
  display: block;
  width: 140px;
  height: 2px;
  margin-top: 15px;
  background: black;
}
.efa__search__lead {
  color: black;
  font-size: 19px;
  padding: 15px 0;
  width: 80%;
}
.efa__search__form,
.efa__search__form--small,
.efa__search__form--pharma {
  padding: 30px 0;
  position: relative;
}
@media (min-width: 768px) {
  .efa__search__form,
  .efa__search__form--small,
  .efa__search__form--pharma {
    width: 58.33333333%;
    padding: 50px 0;
  }
}
.efa__search__form button,
.efa__search__form input[type="text"],
.efa__search__form input[type="search"],
.efa__search__form--small button,
.efa__search__form--small input[type="text"],
.efa__search__form--small input[type="search"],
.efa__search__form--pharma button,
.efa__search__form--pharma input[type="text"],
.efa__search__form--pharma input[type="search"] {
  height: 60px;
  border-radius: 0;
  border: 0;
  padding: 0 20px;
  transition: all 300ms;
  font-size: 19px;
  line-height: 24px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) {
  .efa__search__form button,
  .efa__search__form input[type="text"],
  .efa__search__form input[type="search"],
  .efa__search__form--small button,
  .efa__search__form--small input[type="text"],
  .efa__search__form--small input[type="search"],
  .efa__search__form--pharma button,
  .efa__search__form--pharma input[type="text"],
  .efa__search__form--pharma input[type="search"] {
    font-size: 24px;
    height: 72px;
  }
}
.efa__search__form button,
.efa__search__form--small button,
.efa__search__form--pharma button {
  color: white;
  background: #316f89;
}
@media (min-width: 992px) {
  .efa__search__form button,
  .efa__search__form--small button,
  .efa__search__form--pharma button {
    min-width: 150px;
  }
}
.efa__search__form button:hover,
.efa__search__form button:focus,
.efa__search__form button:active,
.efa__search__form--small button:hover,
.efa__search__form--small button:focus,
.efa__search__form--small button:active,
.efa__search__form--pharma button:hover,
.efa__search__form--pharma button:focus,
.efa__search__form--pharma button:active {
  color: white;
  background: #245163;
}
.efa__search__form--small {
  padding: 30px 0;
}
.efa__search__form--small button,
.efa__search__form--small input[type="text"],
.efa__search__form--small input[type="search"] {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .efa__search__form--small button,
  .efa__search__form--small input[type="text"],
  .efa__search__form--small input[type="search"] {
    font-size: 19px;
    height: 60px;
  }
}
.efa__search__form--small:after {
  left: 92% !important;
}
.efa__search__form--small .efa__search__lead {
  width: 100%;
}
.efa__search__form:after,
.efa__search__form--small:after,
.efa__search__form--pharma:after {
  pointer-events: none;
}
@media (min-width: 768px) {
  .efa__search__form:after,
  .efa__search__form--small:after,
  .efa__search__form--pharma:after {
    content: '';
    position: absolute;
    z-index: 0;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(../img/character-handshake.png);
    height: 105%;
    width: 630px;
    left: 85%;
    bottom: 0;
  }
}
.efa__search__form.-zerodoc:after,
.efa__search__form--small.-zerodoc:after,
.efa__search__form--pharma.-zerodoc:after {
  background-image: none;
}
@media (min-width: 768px) {
  .efa__search__form--pharma {
    left: 41.66666667%;
  }
}
.efa__search__form--pharma:after {
  pointer-events: none;
}
@media (min-width: 768px) {
  .efa__search__form--pharma:after {
    background-image: url(../img/character-pharma-pipet.png);
    height: 110%;
    left: -600px;
  }
}
.efa__search__examples {
  color: #000000;
  text-shadow: 0 0 30px white;
  margin-top: 15px;
  font-size: 15px;
}
.efa__search__examples > a {
  text-decoration: underline;
}
.efa__search__options {
  margin-top: 5px;
  font-size: 15px;
}
.efa__search__options select {
  margin: 0 5px;
}
.efa__table {
  margin: 38px 0;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.efa__table tfoot {
  font-weight: bold;
}
.efa__table small {
  font-size: 1em;
  color: #9c9c9c;
}
.efa__chart {
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 17px;
  border-top: 1px solid #dadada;
  padding: 15px 0;
  margin: 0;
  color: black;
}
.efa__chart__label {
  width: 35%;
  display: block;
  float: left;
  clear: left;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
}
.efa__chart__bar-stack {
  width: 65%;
  display: block;
  float: left;
  margin-bottom: 5px;
}
.efa__chart__bar {
  position: relative;
  background: #f5f5f5;
  height: 17px;
  font-size: 12px;
  line-height: 17px;
}
.efa__chart__bar--individual,
.efa__chart__bar--aggregated {
  display: block;
  height: 100%;
  float: left;
  min-width: 2px;
  background: #316f89;
}
.efa__chart__bar--aggregated {
  background-color: #a8d0e0;
}
.efa__chart__total {
  padding: 0 5px;
  color: #316f89;
}
.efa__chart__total--inner {
  position: absolute;
  color: #316f89;
  right: 5px;
}
.efa__chart__legend {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 5px 0;
}
.efa__chart__legend-item--individual,
.efa__chart__legend-item--aggregated {
  padding: 0;
  margin: 0;
}
.efa__chart__legend-item--individual:before,
.efa__chart__legend-item--aggregated:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: .3em;
  background: #316f89;
  border-radius: 50%;
}
.efa__chart__legend-item--aggregated:before {
  background: #a8d0e0;
}
.efa__detail-vis {
  padding: 0 30px 0 15px;
  font-size: 15px;
  line-height: 1.5em;
  min-height: 440px;
}
@media (min-width: 768px) {
  .efa__detail-vis {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .efa__detail-vis {
    width: 25%;
  }
}
.efa__detail-vis__title {
  border-bottom: 2px solid black;
  font-size: 19px;
  margin: 15px 0;
  padding-bottom: 10px;
}
.efa__detail-vis__sum {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.4em;
  text-decoration: none;
  color: black;
}
.efa__detail-vis__list {
  border-collapse: collapse;
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
.efa__detail-vis__value {
  display: block;
  text-align: right;
}
.efa__detail-vis__name {
  display: block;
  width: 100%;
  padding-left: .5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.efa__zero-euro-info {
  background: #f5f5f5;
  padding: 0 20px;
}
.efa__zero-euro-info > h3 {
  margin: 0;
  padding: 1em 0 .2em 0;
}
/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        -ms-user-select: none;
	        user-select: none;
	  -webkit-user-drag: none;
	}
/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
	image-rendering: -webkit-optimize-contrast;
	}
/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
	max-width: none !important;
	}

.leaflet-container.leaflet-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
	}
.leaflet-container.leaflet-touch-drag {
	-ms-touch-action: pinch-zoom;
	}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	-ms-touch-action: none;
	touch-action: none;
}
.leaflet-container {
	-webkit-tap-highlight-color: transparent;
}
.leaflet-container a {
	-webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}
.leaflet-tile {
	filter: inherit;
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}
.leaflet-zoom-box {
	width: 0;
	height: 0;
	box-sizing: border-box;
	z-index: 800;
	}
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
	-moz-user-select: none;
	}

.leaflet-pane         { z-index: 400; }

.leaflet-tile-pane    { z-index: 200; }
.leaflet-overlay-pane { z-index: 400; }
.leaflet-shadow-pane  { z-index: 500; }
.leaflet-marker-pane  { z-index: 600; }
.leaflet-tooltip-pane   { z-index: 650; }
.leaflet-popup-pane   { z-index: 700; }

.leaflet-map-pane canvas { z-index: 100; }
.leaflet-map-pane svg    { z-index: 200; }

.leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}


/* control positioning */

.leaflet-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
	will-change: opacity;
	}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}
.leaflet-zoom-animated {
	transform-origin: 0 0;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	will-change: transform;
	}
.leaflet-zoom-anim .leaflet-zoom-animated {
	transition:         transform 0.25s cubic-bezier(0,0,0.25,1);
	}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
	transition: none;
	}

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* cursors */

.leaflet-interactive {
	cursor: pointer;
	}
.leaflet-grab {
	cursor:    -moz-grab;
	}
.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
	cursor: crosshair;
	}
.leaflet-popup-pane,
.leaflet-control {
	cursor: auto;
	}
.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
	cursor: move;
	cursor:    -moz-grabbing;
	}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
	pointer-events: none;
	}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive {
	pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
	pointer-events: auto;
	}

/* visual tweaks */

.leaflet-container {
	background: #ddd;
	outline: 0;
	}
.leaflet-container a {
	color: #0078A8;
	}
.leaflet-container a.leaflet-active {
	outline: 2px solid orange;
	}
.leaflet-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
	}


/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	}


/* general toolbar styles */

.leaflet-bar {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
	}
.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	}
.leaflet-bar a,
.leaflet-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-bar a:hover {
	background-color: #f4f4f4;
	}
.leaflet-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	}
.leaflet-bar a.leaflet-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
	}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
	}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	}


/* layers control */

.leaflet-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
	}
.leaflet-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
	}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers-scrollbar {
	overflow-y: scroll;
	padding-right: 5px;
	}
.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
	}

/* Default icon URLs */
.leaflet-default-icon-path {
	background-image: url(images/marker-icon.png);
	}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	}
.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #333;
	}
.leaflet-control-attribution a {
	text-decoration: none;
	}
.leaflet-control-attribution a:hover {
	text-decoration: underline;
	}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}
.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}
.leaflet-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;

	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
	}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	}


/* popup */

.leaflet-popup {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	}
.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 12px;
	}
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-tip-container {
	width: 40px;
	height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
	pointer-events: none;
	}
.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;
	transform: rotate(45deg);
	}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background: white;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
.leaflet-container a.leaflet-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
	}
.leaflet-container a.leaflet-popup-close-button:hover {
	color: #999;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}

.leaflet-oldie .leaflet-popup-content-wrapper {
	zoom: 1;
	}
.leaflet-oldie .leaflet-popup-tip {
	width: 24px;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	}
.leaflet-oldie .leaflet-popup-tip-container {
	margin-top: -1px;
	}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
	border: 1px solid #999;
	}


/* div icon */

.leaflet-div-icon {
	background: #fff;
	border: 1px solid #666;
	}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	}
.leaflet-tooltip.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
	}
.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
	}

/* Directions */

.leaflet-tooltip-bottom {
	margin-top: 6px;
}
.leaflet-tooltip-top {
	margin-top: -6px;
}
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
	}
.leaflet-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
	}
.leaflet-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
	}
.leaflet-tooltip-left {
	margin-left: -6px;
}
.leaflet-tooltip-right {
	margin-left: 6px;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
	}
.leaflet-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
	}
.leaflet-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
	}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.efa__map {
  background: #f5f5f5;
}
.efa__map .leaflet-popup-content-wrapper {
  border-radius: 0;
}
.efa__map .marker-cluster {
  background-color: rgba(49, 111, 137, 0.5);
}
.efa__map .marker-cluster div {
  background-color: rgba(49, 111, 137, 0.8);
  color: white;
}
.efa__map .marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.efa__map .marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 50%;
}
.efa__map .marker-cluster span {
  line-height: 30px;
}
.efa__mapcredits {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 800;
  padding: 0 5px;
  font-size: 12px;
  background-color: #fff;
}
