.search-tile {
  color: black;
  background-color: #a8d9ed;
  position: relative;
  padding: 0;
}

.search-tile__logo {
  background: #8ec6dd url('../img/euros-fuer-aerzte_logo.svg');
  background-repeat: no-repeat;
  background-position: 22px bottom;
  height: 140px;
  width: 100%;
  text-indent: -100%;
  margin: 0;
  padding: 0;
}

.search-tile__form {
  padding: 22px;
}

.search-tile__help {
  display: block;
  margin: 0;
  padding: 10px 0 0 0;
  font-style: italic;
}

.search-tile__link {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .search-tile {
    min-height: 380px;
  }
}
