{% load i18n l10n %}
{% load humanize %}
{% load number_utils %}


<div class="efa__detail-vis">

  <header class="page__section-header ">
    <h2 class="page__section-headline">
      {{ label.label }}
    </h2>
  </header>

  <h3 class="efa__detail-vis__sum">{{ label.total|intcomma_floatformat:0 }}&nbsp;€</h3>

  <div class="efa__detail-vis__bar-chart">
    <span class="efa__detail-vis__bar--individual" style="width: {{ label.vis_individual_percent|unlocalize }}%"></span>
    <span class="efa__detail-vis__bar--aggregated" style="width: {{ label.vis_aggregated_percent|unlocalize }}%"></span>
  </div>

  <ul class="efa__detail-vis__labels">
    <li class="efa__detail-vis__label--individual">
      {% blocktrans with percent=label.individual_percent|floatformat:0 %}
        {{ percent }}&nbsp;% amount to known recipients
      {% endblocktrans %}
    </li>
    <li class="efa__detail-vis__label--aggregated">
      {% blocktrans with percent=label.aggregated_percent|floatformat:0 %}
        {{ percent }}&nbsp;% amount to unknown recipients
      {% endblocktrans %}
    </li>
  </ul>


  <table class="efa__detail-vis__list">
  {% for recipient in label.top5 %}
    <tr>
      <td>
        <span class="efa__detail-vis__value">{{ recipient.amount|intcomma_floatformat:0 }}&nbsp;€</span>
      </td>
      <td>
        <a class="efa__detail-vis__name" href="{{ recipient.get_absolute_url }}">{{ recipient.get_full_name|truncatechars:30 }}</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  <a href="{% url "eurosfueraerzte:eurosfueraerzte-recipientsearch" %}?company={{ object.pk}}&amp;label={{ label.label_slug }}&amp;recipient_kind={{ kind }}">{% trans "Show all recipients" %}</a>
</div>
