{% load i18n l10n %}
{% load humanize %}
{% load number_utils %}


<div class="efa__detail-vis efa__detail-vis--{{ kind }}">

  <header class="page__section-header ">
    <h2 class="page__section-headline">
      {{ label.label }}
    </h2>
  </header>

  <h3 class="efa__detail-vis__sum">
    {% currency_format label.total currency decimal=0 %}
  </h3>

  {% if has_aggregates %}
    <div class="efa__chart__bar">
      {% if label.individual_percent > 0 %}
        <span class="efa__chart__bar--individual"
          style="width: {{ label.individual_percent|unlocalize }}%">
        </span>
      {% endif %}
      {% if label.aggregated_percent > 0 %}
      <span class="efa__chart__bar--aggregated"
        style="width: {{ label.aggregated_percent|unlocalize }}%">
      </span>
      {% endif %}
    </div>

    <ul class="efa__chart__legend">
      <li class="efa__chart__legend-item--individual">
        {% blocktrans with percent=label.individual_percent|floatformat:0 %}
          {{ percent }}&nbsp;% an namentlich bekannte Empfänger
        {% endblocktrans %}
      </li>
    </ul>
  {% endif %}

  <div class="efa__detail-vis__list">
    <table>
    {% for recipient in label.top5 %}
      {% if recipient.total_amount %}
        <tr>
          <td>
            <span class="efa__detail-vis__value">
              {% currency_format recipient.total_amount currency decimal=0 %}
            </span>
          </td>
          <td>
            <a class="efa__detail-vis__name" href="{{ recipient.get_absolute_url }}" title="{{ recipient.get_full_name }}">
              {{ recipient.get_full_name|truncatechars:20 }}
            </a>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>

  <a href="{% url "eurosfueraerzte:eurosfueraerzte-recipientsearch" %}?company={{ object.pk}}&amp;label={{ label.label_slug }}&amp;recipient_kind={{ kind }}">{% trans "Show all recipients" %}</a>
</div>
