{% load i18n %}

<hr/>
<aside class="text-muted">
  <small>
    <ol>
      <li>{% blocktrans %}Number of doctors is the maximum number of reported/observing doctors across updates.{% endblocktrans %}</li>
      <li>{% blocktrans %}Number of patients is the maximum number of planned/observed patients across updates.{% endblocktrans %}</li>
      <li>{% blocktrans %}Fee per patient is the maximum fee across updates. Provided comment gives details for that number. Total fee is the sum of the patient numbers times fees per patient per observational study.{% endblocktrans %}</li>
    </ol>
  </small>
</aside>
