{% load i18n %}

<section class="efa__search">
  <div class="page__container">
    <form class="efa__search__form--pharma" action="{% url 'eurosfueraerzte:eurosfueraerzte-search' %}" method="get">

      <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-index' %}">
        {% trans "Euros for Doctors" %}
      </a>

      <h1 class="efa__search__title">
        {% trans "Search for your medicine" %}
      </h1>

      <p class="efa__search__lead">
        {% trans "Find out what drugs are pushed by the pharma industry." %}
      </p>

      <div class="input-group">
        {{ form.q }}
        <span class="input-group-btn">
          <button type="submit">{% trans "Search" %}</button>
        </span>
      </div>

      <div class="efa__search__examples">
        Beispiel:
        <a href="{% url 'eurosfueraerzte:eurosfueraerzte-search' %}?q=Avastin">Avastin</a>
      </div>

    </form>
  </div>
</section>
