{% load i18n static sekizai_tags %}

<div id="efa__map" class="efa__map"></div>

{% addtoblock "js" %}
  <script src="{% static 'eurosfueraerzte/dist/map.js' %}"></script>
  <script>
    eurosfueraerzte.initializeMap({
      center: [{{ places.0.geo.y|safe }}, {{ places.0.geo.x|safe }}],
      places: [
        {% for place in places %}
          {
            geo: [{{ place.geo.y|safe }}, {{ place.geo.x|safe }}],
            name: "{{ place.get_full_name|escapejs }}",
            url: "{{ place.get_absolute_url|escapejs }}"
          }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ]
    });
  </script>
{% endaddtoblock %}
