{% load i18n %}
{% load number_utils %}
{# {% load humanize %}#}

{% if not object.hidden_payments %}
<p>
  {% blocktrans with name=object.get_full_name %}
    {{ name }} agreed to the publication of these payments:
  {% endblocktrans %}
</p>
  <div class="table-responsive">
    <table class="efa__table table table-striped">
      <thead>
        <tr>
          <th>{% trans "Company" %}</th>
          <th>{% trans "Payment type" %}</th>
          {% for year in efa_years %}
            <th class="text-right hidden-xs">
              {{ year }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right">
            <strong>{% trans "Total" %}</strong>
          </td>
          {% for amount in object.get_amounts_for_years %}
            <td class="text-right">
              {% if amount %}
              <strong>
                {% currency_format amount object.total_currency %}
              </strong>
              {% endif %}
            </td>
          {% endfor %}
       </tr>
     </tfoot>
      <tbody>
      {% for payment in payments %}
        <tr>
          <td>
            {% if payment.pharma_company_name %}
              <a href="{{ payment.pharma_company_url }}">
                {{ payment.pharma_company_name }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ payment.label }}
            {% if payment.recipient_detail %}
              <br/>
              <small>
                {% trans "to:" %} {{ payment.recipient_detail }}
              </small>
            {% endif %}
          </td>
          {% for year_amount in payment.years %}
            <td class="text-right">
              {% if year_amount.amount %}
                {% currency_format year_amount.amount year_amount.currency %}
              {% else %}
                <small>–</small>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <h3>{% trans "Consent revoked" %}</h3>
  <p>
    {% blocktrans with name=object.get_full_name %}
      {{ name }} has revoked the consent to publish the payments.
    {% endblocktrans %}
  </p>
{% endif %}
{% if object.note %}
  <p>
    <strong>{% trans "Note:" %}</strong> {{ object.note }}
  </p>
{% endif %}
