{% load i18n %}
{% load number_utils %}
{# {% load humanize %}#}

{% if not object.hidden_payments %}
<p>
  {% blocktrans with name=object.get_full_name %}
    {{ name }} agreed to the publication of these payments:
  {% endblocktrans %}
</p>
  <div class="table-responsive">
    <table class="efa__table table table-striped">
      <thead>
        <tr>
          <th>{% trans "Company" %}</th>
          <th>{% trans "Payment type" %}</th>
          <th>{% trans "Year" %}</th>
          <th class="text-right">{% trans "Amount" %}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right">
            <strong>{% trans "Total" %}</strong>
          </td>
          <td class="text-right">
            <strong>
              {% currency_format aggs.payments_total aggs.payments_total_currency %}
            </strong>
          </td>
       </tr>
     </tfoot>
      <tbody>
      {% for payment in payments %}
        <tr>
          <td>
            {% if payment.pharma_company %}
              <a href="{{ payment.pharma_company.get_absolute_url }}">
                {{ payment.pharma_company.name }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ payment.get_label_display }}
            {% if payment.recipient_detail %}
              <br/>
              <small>
                {% trans "to:" %} {{ payment.recipient_detail }}
              </small>
            {% endif %}
          </td>
          <td> {{ payment.date.year }} </td>
          <td class="text-right">
            {% currency_format payment.amount payment.currency %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <h3>{% trans "Consent revoked" %}</h3>
  <p>
    {% blocktrans with name=object.get_full_name %}
      {{ name }} has revoked the consent to publish the payments.
    {% endblocktrans %}
  </p>
{% endif %}
{% if object.note %}
  <p>
    <strong>{% trans "Note:" %}</strong> {{ object.note }}
  </p>
{% endif %}
