{% load i18n %}

<section class="efa__search">
  <div class="page__container">
    <form id="search" class="efa__search__form -{{ country|lower }}" action="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}" method="get">
        {% if country %}
          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-country_index' country=country %}">
        {% else %}
          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-index' %}">
        {% endif %}
          {{ project_title }}
        </a>

        <h1 class="efa__search__title">
          {% trans "Find your doctor" %}
        </h1>

        <p class="efa__search__lead">
          {% trans "How much money has your doctor received from the pharma industry last year?" %}
        </p>

        <div class="input-group">
          {{ recipient_form.q }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
          </span>
        </div>

        <input type="hidden" name="country" value="{{ country }}"/>

        <div class="efa__search__examples">
          {% trans "Examples:" %}
          {% include includes.search_examples %}
        </div>
    </form>
  </div>
</section>
