{% load i18n %}
{% load number_utils %}

<div class="table-responsive">
  <table class="efa__table table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Address" %}</th>
        {% for year in efa_years %}
          <th class="text-right hidden-xs">
            {{ year }}
          </th>
        {% endfor %}
        {# <th class="text-right">{% trans "Total amount" %}</th>#}
      </tr>
    </thead>
  {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.get_absolute_url }}">
          {{ object.get_full_name }}
        </a>
      </td>
      <td>
        {{ object.address }}<br/>
        {{ object.postcode }} {{ object.location }}
      </td>
      {% for amount in object.get_amounts_for_years %}
        <td class="text-right hidden-xs">
          {% if object.hidden_payments or amount is None %}
            {% trans "not available" %}
          {% else %}
            {% currency_format amount object.total_currency %}
          {% endif %}
        </td>
      {% endfor %}
      {% comment %}
      <td class="text-right">
        {% if object.hidden_payments %}
          {% trans "not available" %}
        {% else %}
          {% currency_format object.total object.total_currency %}
        {% endif %}
      </td>
      {% endcomment %}
    </tr>
  {% endfor %}
  </table>
</div>
