{% load i18n %}
{% load number_utils %}

<div class="table-responsive">
  <table class="efa__table table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Address" %}</th>
        <th class="text-right">{% trans "Total amount" %}</th>
      </tr>
    </thead>
  {% for object in object_list %}
    <tr>
      <td>
        <a href="{{ object.get_absolute_url }}">
          {{ object.get_full_name }}
        </a>
      </td>
      <td>
        {{ object.address }}<br/>
        {{ object.postcode }} {{ object.location }}
      </td>
      <td class="text-right">
        {% if object.hidden_payments %}
          nicht verfügbar
        {% else %}
          {% if object.computed_total %}
            {{ object.computed_total|intcomma_floatformat:2 }}&nbsp;€
          {% else %}
            {{ object.total|intcomma_floatformat:2 }}&nbsp;€
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
