{% load i18n %}

<section class="efa__search">
  <div class="page__container">
    <form id="search" class="efa__search__form" action="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}" method="get">
        <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-index' %}">
          {% trans "Euros for Doctors" %}
        </a>

        <h1 class="efa__search__title">
          {% trans "Find your doctor" %}
        </h1>

        <p class="efa__search__lead">
          {% trans "How much money has your doctor received from the pharma industry last year?" %}
        </p>

        <div class="input-group">
          {{ recipient_form.q }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
          </span>
        </div>
        {{ recipient_form.recipient_kind }}
        {% if recipient_form.is_valid %}
            <ul>
          {% if recipient_form.latlng.value %}
            <li>
              {% blocktrans with latlng=recipient_form.latlng.value %}
                Currently searching near coordinate {{ latlng }}.
              {% endblocktrans %}
            </li>
          {% endif %}
          {% if recipient_form.company_obj %}
            <li>
              {% blocktrans with name=recipient_form.company_obj %}
                Currently only showing recipients of {{ name }}.
              {% endblocktrans %}
            </li>
          {% endif %}
          {% if recipient_form.label.value %}
            <li>
              {% blocktrans with label=recipient_form.label.value %}
                Currently only showing recipients getting {{ label }}.
              {% endblocktrans %}
            </li>
          {% endif %}
          </ul>
        {% endif %}

        <div class="efa__search__examples">
          {% trans "Examples:" %}
          <a href="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}?q=45147">45147</a>
          {% trans "or" %}
          <a href="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}?q=Dinslaken">Dinslaken</a>
          {% trans "or" %}
          <a href="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}?q=müller">Müller</a>
        </div>
    </form>
  </div>
</section>
