{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}

{% block before_content %}

<section class="efa__search">
  <div class="page__container">
    <form class="efa__search__form--small -{{ country|lower }}" action="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}" method="get">
        {% if country %}
          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-country_index' country=country|lower %}">
        {% else %}
          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-index' %}">
        {% endif %}
          {{ project_title }}
        </a>

        <div class="efa__search__lead">
          {% trans "How much money has your doctor received from the pharma industry last year?" %}

          {% if recipient_form.is_valid %}
          <ul>
          {% if recipient_form.company_obj %}
            <li>
              {% blocktrans with name=recipient_form.company_obj %}
                Currently only showing recipients of {{ name }}.
              {% endblocktrans %}
            </li>
          {% endif %}
          {% if recipient_form.label.value %}
            <li>
              {% blocktrans with label=recipient_form.label_description %}
                Currently only showing recipients getting {{ label }}.
              {% endblocktrans %}
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>

        <div class="input-group">
          {{ recipient_form.q }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{% trans "Search" %}</button>
          </span>
        </div>
        {% blocktrans with kind=recipient_form.recipient_kind country=recipient_form.country %}
          <div class="efa__search__options">
            Search for {{ kind }} in {{ country }}
          </div>
        {% endblocktrans %}

    </form>
  </div>
</section>

{% endblock %}
