{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load sekizai_tags %}

{% block before_content %}

<section class="efa__search">
  <div class="page__container">
    <form id="efa-search-form" class="efa__search__form--small -{{ country|lower }}" action="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}" method="get">

        {% include "correctiv_eurosfueraerzte/_home_links.html" %}

        <div class="efa__search__lead">
          {% trans "How much money has your doctor received from the pharma industry last year?" %}

          {% if recipient_form.is_valid %}
          <ul>
          {% if recipient_form.company_obj %}
            <li>
              {% blocktrans with name=recipient_form.company_obj %}
                Currently only showing recipients of {{ name }}.
              {% endblocktrans %}
            </li>
          {% endif %}
          {% if recipient_form.label.value %}
            <li>
              {% blocktrans with label=recipient_form.label_description %}
                Currently only showing recipients getting {{ label }}.
              {% endblocktrans %}
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </div>

        <div class="input-group">
          {{ recipient_form.q }}
          <span class="input-group-btn">
            <button type="submit">{% trans "Search" %}</button>
          </span>
        </div>
        <div class="efa__search__options">
          {% blocktrans with kind=recipient_form.recipient_kind country=recipient_form.country %}
            Search for {{ kind }} in {{ country }}
          {% endblocktrans %}
        </div>

        {% addtoblock "js" %}
          <script>
            // "Euros fuer Ärzte" – auto-submit forms on select change:
            document.addEventListener('DOMContentLoaded', function(event) {
              var form = document.getElementById('efa-search-form')
              form.addEventListener('change', function(event) {
                if(event.target.tagName === 'SELECT') {
                  form.submit()
                }
              })
            })
          </script>
        {% endaddtoblock %}

    </form>
  </div>
</section>

{% endblock %}
