{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block before_content %}
  <header class="efa__header--split">
    <div class="container">
      <div class="efa__header__main">
        <div class="efa__header__content{% block header_content_modifier %}{% endblock %}">

          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-country_index' country=country|lower %}">
            {{ project_title }}
          </a>
          <a class="efa__home-link efa__home-link--subsection" href="{% url 'eurosfueraerzte:eurosfueraerzte-country_index' country=country|lower %}">
            {{ country_label }}
          </a>

          <h1 class="efa__header__title">
            {% block header_title %}{{ title }}{% endblock %}
          </h1>

          {% block header_content %}{% endblock %}

        </div>
      </div>
      <div class="efa__header__sidebar{% block header_sidebar_modifier %}{% endblock %} -{{ country|lower }}">
        <div class="efa__header__about">

          <h2 class="efa__header__title--light">
            {% block header_sidebar_title %}{% endblock %}
          </h2>

          {% block header_sidebar_about %}{% endblock %}

        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}{% endblock %}

{% block after_content %}
  {% include "correctiv_eurosfueraerzte/_recipient_search.html" %}
{% endblock %}
