{% extends "correctiv_eurosfueraerzte/base_doctors.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block before_content %}
  <header class="efa__header--split">
    <div class="container">
      <div class="efa__header__main">
        <div class="efa__header__content">
          <a class="efa__home-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-index' %}">
            {% trans "Euros for Doctors" %}
          </a>
          <h2 class="efa__header__title">
            {{ object.get_full_name }}
          </h2>
          {% if object.orientation %}
            <span class="efa__header__meta">{{ object.orientation }}</span>
          {% endif %}
          <a class="efa__header__back-link" href="#">{{ object.location }}</a>
        </div>
      </div>
      <div class="efa__header__sidebar">
        <div class="efa__header__about">
          <h1 class="efa__header__title--light">
            {% trans "Euros for Doctors" %}
          </h1>
          <p>Die Pharamaunternehmen veröffentlichen erstmals Gelder die sie an Ärzte und Einrichtungen, Lorem Ipsum mehr Text.</p>
          <a class="efa__header__more-link" href="#">zum Hintergrundartikel</a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  {# Total #}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Company" %}</th>
          <th>{% trans "Payment type" %}</th>
          <th>{% trans "Year" %}</th>
          <th class="text-right">{% trans "Amount" %}</th>
        </tr>
      </thead>
      <tbody>
    {% with payments=object.pharmapayment_set.all %}
      {% for payment in payments %}
        <tr>
          <td>
            {% if payment.pharma_company %}
              <a href="{{ payment.pharma_company.get_absolute_url }}">
                {{ payment.pharma_company.name }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ payment.get_label_display }}
          </td>
          <td>
            {{ payment.date.year }}
          </td>
          <td class="text-right">
            {{ payment.amount|intcomma_floatformat:2 }}&nbsp;€
          </td>
        </tr>
      {% endfor %}
    {% endwith %}
      </tbody>
    </table>
  </div>
{% endblock %}
