{% extends "correctiv_eurosfueraerzte/base_detail.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block header_title %}
  {% if object.title %}
    <small>{{ object.title }}</small><br/>
  {% endif %}
  {{ object.get_full_name }}
{% endblock %}

{% block header_content %}
  {% if object.orientation %}
    <span class="efa__header__meta">{{ object.orientation }}</span>
  {% endif %}
  <a class="efa__header__back-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-doctorsearch' %}?q={{ object.location }}">
    {% if object.address %}
      {{ object.address }}<br/>
    {% endif %}
    {{ object.location }}
  </a>
{% endblock %}

{% block header_sidebar_title %}
  {% trans "Euros for Doctors" %}
{% endblock %}

{% block header_sidebar_about %}
  <p>{% trans "Die 54 größten Pharma-Unternehmen in Deutschland veröffentlichen im Jahr 2016 erstmals alle Geldzahlungen, die sie im vergangenen Jahr an Ärzte und Kliniken geleistet haben." %}</p>
  <a class="efa__header__more-link" href="#">background article</a>
{% endblock %}

{% block content %}

  {# Total #}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Company" %}</th>
          <th>{% trans "Payment type" %}</th>
          {# <th>{% trans "Year" %}</th>#}
          <th class="text-right">{% trans "Amount" %}</th>
        </tr>
      </thead>
      <tfoot>
       <tr>
           <td colspan="2" class="text-right">{% trans "Total" %}</td>
           <td class="text-right">{{ aggs.payments_total }} €</td>
       </tr>
     </tfoot>
      <tbody>
    {% with payments=object.pharmapayment_set.all %}
      {% for payment in payments %}
        <tr>
          <td>
            {% if payment.pharma_company %}
              <a href="{{ payment.pharma_company.get_absolute_url }}">
                {{ payment.pharma_company.name }}
              </a>
            {% endif %}
          </td>
          <td>
            {{ payment.get_label_display }}
          </td>
          {# <td> {{ payment.date.year }} </td>#}
          <td class="text-right">
            {{ payment.amount|intcomma_floatformat:2 }}&nbsp;€
          </td>
        </tr>
      {% endfor %}
    {% endwith %}
      </tbody>
    </table>
  </div>


{% if same_address_objects %}
  <h3>{% trans "More organisations and doctors at similar address" %}</h3>
  <ul>
  {% for same_object in same_address_objects %}
    <li>
      <a href="{{ same_object.get_absolute_url }}">
        {{ same_object.get_full_name }}
      </a>
      {{ same_object.payments_total }} EUR
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if nearby_objects %}
  <h3>{% trans "Nearby doctors and organisations" %}</h3>
  <ul>
  {% for nearby_object in nearby_objects %}
    <li>
      <a href="{{ nearby_object.get_absolute_url }}">
        {{ nearby_object.get_full_name }}
      </a>
      ({{ nearby_object.distance }}, {{ nearby_object.payments_total }} EUR)
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
