{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}
  <h2>
    {{ object.name }}
  </h2>

  <dl>
    {% if object.active_ingredient %}
      <dt>{% trans "Active ingredient" %}</dt>
      <dd>{{ object.active_ingredient }}</dd>
    {% endif %}
    {% if object.medical_indication %}
      <dt>{% trans "Medical indication" %}</dt>
      <dd>{{ object.medical_indication }}</dd>
    {% endif %}
    {% if object.pharma_company %}
      <dt>{% trans "Pharma Company" %}</dt>
      <dd>
        <a href="{{ object.pharma_company.get_absolute_url }}">
          {{ object.pharma_company }}
        </a>
      </dd>
    {% endif %}
      <dt>{% trans "Total Number of Doctors" %}<sup class="text-muted">1</sup></dt>
      <dd>
        {% if aggs.sum_doctors %}
          {% blocktrans with count=aggs.sum_doctors|intcomma %}{{ count }} doctors{% endblocktrans %}
        {% else %}
          <span class="text-muted">{% trans "n/a" %}</span>
        {% endif %}
      </dd>
      <dt>{% trans "Total Number of Patients" %}<sup class="text-muted">2</sup></dt>
      <dd>
        {% if aggs.sum_patients %}
          {% blocktrans with count=aggs.sum_patients|intcomma %}{{ count }} patients{% endblocktrans %}
        {% else %}
          <span class="text-muted">{% trans "n/a" %}</span>
        {% endif %}
      </dd>
      <dt>{% trans "Total minimum fees planned" %}<sup class="text-muted">3</sup></dt>
      <dd>
        {% if aggs.total_fee %}
          {% blocktrans with fee=aggs.total_fee|intcomma_floatformat:2 %}{{ fee }}&nbsp;€{% endblocktrans %}
        {% else %}
          <span class="text-muted">{% trans "n/a" %}</span>
        {% endif %}
      </dd>
  </dl>

  <h3>
    {% blocktrans with name=object.name %}Observational Studies including {{ name }}{% endblocktrans %}
  </h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Drug" %}</th>
          <th class="text-right">{% trans "No. of doctors" %}<sup class="text-muted">1</sup></th>
          <th class="text-right">{% trans "No. of patients" %}<sup class="text-muted">2</sup></th>
          <th class="text-right">{% trans "Payment per patient" %}<sup class="text-muted">3</sup></th>
        </tr>
      </thead>
      <tbody>
    {% with studies=object.observationalstudy_set.all %}
      {% for study in studies %}
        <tr>
          <td>
            <a href="{{ study.get_absolute_url }}">
              {{ study.drug_title }}
            </a>
          </td>
          <td class="text-right">
            {% if study.doc_count %}
              {{ study.doc_count|intcomma }}
            {% else %}
              <span class="text-muted">{% trans "n/a" %}</span>
            {% endif %}
          </td>
          <td class="text-right">
            {% if study.patient_count %}
              {{ study.patient_count|intcomma }}
            {% else %}
              <span class="text-muted">
                {% trans "n/a" %}
              </span>
            {% endif %}
          </td>
          <td class="text-right">
            {% if study.fee_per_patient %}
              {{ study.fee_per_patient|intcomma_floatformat:2 }}&nbsp;€
            {% else %}
              <span class="text-muted">
                {% trans "n/a" %}
              </span>
            {% endif %}
          </td>
          <td>
            {{ study.fee_description }}
          </td>
        </tr>
      {% endfor %}
    {% endwith %}
      </tbody>
    </table>
  </div>
  {% include "correctiv_eurosfueraerzte/_disclaimer.html" %}
{% endblock %}
