{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load humanize %}
{% load number_utils %}

{% block content %}

<header class="page__section-header ">
  <h2 class="page__section-headline">
    {% trans "Has your doctor received money from pharma companies?" %}
  </h2>
</header>

{% include "correctiv_eurosfueraerzte/_doctor_search.html" %}

<div class="row">
  <div class="col-md-6">
    <h3>{% trans "Top paying companies" %}</h3>
    <ol>
      <li>Bayer Ipsum</li>
      <li>Lorem Sanophis</li>
    </ol>
  </div>
  <div class="col-md-6">
    <h3>{% trans "Known top money-receiving doctors" %}</h3>
    <ol>
      <li>Lorem Müller</li>
      <li>Peter Ipsum</li>
    </ol>
  </div>
</div>

<header class="page__section-header ">
  <h2 class="page__section-headline">
    {% trans "Was your medicine pushed by pharma companies?" %}
  </h2>
</header>

{% include "correctiv_eurosfueraerzte/_drug_search.html" %}

<div class="row">
  <div class="col-md-6">
    <h3>{% trans "Top drugs by study patients" %}</h3>
    <ol>
      {% for drug in top_drugs %}
        <li>
          <a href="{{ drug.get_absolute_url }}">
            {{ drug.name }}
          </a>
          – {% blocktrans with count=drug.sum_patients|intcomma %}{{ count }} patients{% endblocktrans %}
        </li>
      {% endfor %}
    </ol>
  </div>
  <div class="col-md-6">
    <h3>{% trans "Top studies by fees per patient" %}</h3>
    <ol>
      {% for study in highest_paid_studies %}
        <li>
          <a href="{{ study.get_absolute_url }}">
            {{ study.drug_title }}
          </a>
          – {% blocktrans with fee=study.fee_per_patient|intcomma_floatformat:2 %}{{ fee }}&nbsp;€{% endblocktrans %}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
