{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load number_utils %}

{% block content %}
<h2>
  {% blocktrans with title=object.drug_title %}Observational Study “{{ title }}”{% endblocktrans %}
</h2>

<h3>{% trans "Observed Drugs" %}</h3>
<ul>
  {% for drug in object.drugs.all %}
    <li>
      <a href="{{ drug.get_absolute_url }}">
        {{ drug.name }}
      </a>
      {% if drug.pharma_company %}
        -
        <a href="{{ drug.pharma_company.get_absolute_url }}">
          {{ drug.pharma_company.name }}
        </a>
      {% endif %}
    </li>
  {% empty %}
    <li>{% trans "No drugs registered with this study" %}</li>
  {% endfor %}
</ul>

<h3>{% trans "Title of the Observational Study" %}</h3>
<p>{{ object.description|linebreaks }}</p>

<dl>
  <dt>{% trans "Registered on" %}</dt>
  <dd>
    {{ object.registration_date|date:"SHORT_DATE_FORMAT" }}
  </dd>

  <dt>{% trans "Start date" %}</dt>
  <dd>
    {{ object.start_date|date:"SHORT_DATE_FORMAT" }}
  </dd>

  <dt>{% trans "End date" %}</dt>
  <dd>
    {{ object.end_date|date:"SHORT_DATE_FORMAT" }}
  </dd>

  <dt>{% trans "Executing company" %}</dt>
  <dd>
    {{ object.company }}
  </dd>

  <dt>{% trans "Sponsor" %}</dt>
  <dd>
    {{ object.sponsor }}
  </dd>

  <dt>{% trans "Number of Docs" %}<sup class="text-muted">1</sup></dt>
  <dd>
    {% if object.doc_count %}
      {{ object.doc_count }}
    {% else %}
      <span class="text-muted">{% trans "n/a" %}</span>
    {% endif %}
  </dd>

  <dt>{% trans "Number of Patients" %}<sup class="text-muted">2</sup></dt>
  <dd>
    {% if object.patient_count %}
      {{ object.patient_count }}
    {% else %}
      <span class="text-muted">{% trans "n/a" %}</span>
    {% endif %}
  </dd>

  <dt>{% trans "Payment per Patient" %}<sup class="text-muted">3</sup></dt>
  <dd>
    {% if object.fee_per_patient %}
      {{ object.fee_per_patient }}&nbsp;€
    {% else %}
      <span class="text-muted">{% trans "n/a" %}</span>
    {% endif %}
  </dd>

  <dt>{% trans "Fee details" %}</dt>
  <dd>
    {{ object.fee_description }}
  </dd>

</dl>
{% include "correctiv_eurosfueraerzte/_disclaimer.html" %}
{% endblock %}
