{% extends "correctiv_eurosfueraerzte/base_detail.html" %}

{% load i18n l10n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block header_title %}
  {% if object.title %}
    <span class="efa__header__academic-title">{{ object.title }}</span>
  {% endif %}
  <span class="efa__header__name">{{ object.get_full_name }}</span>
{% endblock %}

{% block header_content %}
  {% if object.orientation %}
    <span class="efa__header__meta">{{ object.orientation }}</span>
  {% endif %}
  <a class="efa__header__back-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}?q={{ object.location }}">
    {% if object.address %}
      {{ object.address }}<br/>
    {% endif %}
    {% if object.postcode %}{{ object.postcode }} {% endif %}{{ object.location }}
  </a>
{% endblock %}

{% block header_sidebar_title %}
  {% trans "Euros for Doctors" %}
{% endblock %}

{% block header_sidebar_about %}
  <p>{% trans "Die 54 größten Pharma-Unternehmen in Deutschland veröffentlichen im Jahr 2016 erstmals alle Geldzahlungen, die sie im vergangenen Jahr an Ärzte und Kliniken geleistet haben." %}</p>
  <a class="efa__header__more-link" href="#">background article</a>
{% endblock %}

{% block content %}

  {# Total #}

  <div class="page__row">
    <div class="page__section -narrow">
      <p>
        {% trans "Nur knapp 30 Prozent der Ärzte haben den Firmen ihr Einverständnis gegeben, dass ihre Vortrags- und Beratungshonorare, Tagungsgebühren und Reisespesen veröffentlicht werden dürfen." %}
      </p>
      <p>
        {% trans "Die Zahlungen an Ärzte für Studien und Anwendungsbeobachtungen wollen die Pharmafirmen grundsätzlich nicht personenbezogen veröffentlichen." %}
      </p>
      <p>
        {% blocktrans with name=object.get_full_name %}
        {{ name }} hat der Veröffentlichung folgender Zahlungen zugestimmt:
        {% endblocktrans %}
      </p>

      <div class="table-responsive">
        <table class="efa__table table table-striped">
          <thead>
            <tr>
              <th>{% trans "Company" %}</th>
              <th>{% trans "Payment type" %}</th>
              <th class="text-right">{% trans "Amount" %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td></td>
              <td>
                <strong>{% trans "Total" %}</strong>
              </td>
              <td class="text-right">
                <strong>{{ aggs.payments_total|intcomma_floatformat:2 }}&nbsp;€</strong>
              </td>
           </tr>
         </tfoot>
          <tbody>
        {% with payments=object.pharmapayment_set.all %}
          {% for payment in payments %}
            <tr>
              <td>
                {% if payment.pharma_company %}
                  <a href="{{ payment.pharma_company.get_absolute_url }}">
                    {{ payment.pharma_company.name }}
                  </a>
                {% endif %}
              </td>
              <td>
                {{ payment.get_label_display }}
                {% if payment.recipient_detail %}
                  <br/>
                  <small>
                    {% trans "to:" %} {{ payment.recipient_detail }}
                  </small>
                {% endif %}
              </td>
              {# <td> {{ payment.date.year }} </td>#}
              <td class="text-right">
                {{ payment.amount|intcomma_floatformat:2 }}&nbsp;€
              </td>
            </tr>
          {% endfor %}
        {% endwith %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="page__sidebar">
      <div class="well">
        <p>
          {% trans "Die Informationen auf dieser Seite stammen von den 54 Mitgliedsfirmen der „Freiwilligen Selbstkontrolle für die Arzneimittelindustrie e.V.“, die diese Angaben auf ihren jeweiligen Webseiten veröffentlicht haben." %}
        </p>
      </div>
    </div>
  </div>

{% if same_address_objects %}
  <div class="page__row">
    <div class="page__section -narrow">
      <header class="page__section-header">
        <h3 class="page__section-headline">{% trans "More organisations and doctors at similar address" %}</h3>
      </header>
      {% include "correctiv_eurosfueraerzte/_recipient_nearby.html" with nearby_objects=same_address_objects %}
    </div>
  </div>
{% endif %}

{% if nearby_objects %}
  <div class="page__row">
    <div class="page__section -narrow">
      <header class="page__section-header">
        <h3 class="page__section-headline">{% trans "Nearby doctors and organisations" %}</h3>
      </header>
      {% include "correctiv_eurosfueraerzte/_recipient_nearby.html" with nearby_objects=nearby_objects %}
    </div>
  </div>
{% endif %}

{% endblock %}
