{% extends "correctiv_eurosfueraerzte/base_detail.html" %}

{% load i18n l10n %}
{% load number_utils %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block header_title %}
  {% if object.title %}
    <span class="efa__header__academic-title">{{ object.title }}</span>
  {% endif %}
  <span class="efa__header__name">{{ object.get_full_name }}</span>
{% endblock %}

{% block header_content %}
  {% if object.orientations %}
    <span class="efa__header__meta">{{ object.orientations }}</span>
  {% endif %}
  {% if object.name_detail %}
    <span class="efa__header__meta">{{ object.name_detail }}</span>
  {% endif %}
  {% if object.geo %}
    <a class="efa__header__back-link" href="{% url "eurosfueraerzte:eurosfueraerzte-recipientsearch" %}?latlng={{ object.geo.1|unlocalize }},{{ object.geo.0|unlocalize }}">
  {% else %}
    <a class="efa__header__back-link" href="{% url 'eurosfueraerzte:eurosfueraerzte-recipientsearch' %}?q={{ object.location }}">
  {% endif %}
    {% if object.address %}
      {{ object.address }},
    {% endif %}
    {% if object.postcode %}{{ object.postcode }}&nbsp;{% endif %}{{ object.location }}
  </a>
{% endblock %}

{% block header_sidebar_title %}
  {{ project_title }}
{% endblock %}

{% block header_sidebar_about %}
  {% include includes.about_blurb %}
{% endblock %}

{% block content %}

  {# Total #}

  <div class="page__row">
    <div class="page__section -narrow">
      {% include includes.recipient_main %}
      {% if not object.hidden_payments %}
      <p>
        {% blocktrans with name=object.get_full_name %}
        {{ name }} hat der Veröffentlichung folgender Zahlungen zugestimmt:
        {% endblocktrans %}
      </p>
        <div class="table-responsive">
          <table class="efa__table table table-striped">
            <thead>
              <tr>
                <th>{% trans "Company" %}</th>
                <th>{% trans "Payment type" %}</th>
                <th class="text-right">{% trans "Amount" %}</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td></td>
                <td>
                  <strong>{% trans "Total" %}</strong>
                </td>
                <td class="text-right">
                  <strong>
                    {% currency_format aggs.payments_total aggs.payments_total_currency %}
                  </strong>
                </td>
             </tr>
           </tfoot>
            <tbody>
          {% with payments=object.pharmapayment_set.all %}
            {% for payment in payments %}
              <tr>
                <td>
                  {% if payment.pharma_company %}
                    <a href="{{ payment.pharma_company.get_absolute_url }}">
                      {{ payment.pharma_company.name }}
                    </a>
                  {% endif %}
                </td>
                <td>
                  {{ payment.get_label_display }}
                  {% if payment.recipient_detail %}
                    <br/>
                    <small>
                      {% trans "to:" %} {{ payment.recipient_detail }}
                    </small>
                  {% endif %}
                </td>
                {# <td> {{ payment.date.year }} </td>#}
                <td class="text-right">
                  {% currency_format payment.amount payment.currency %}
                </td>
              </tr>
            {% endfor %}
          {% endwith %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3>Einwilligung widderrufen</h3>
        <p>
          {{ object.get_full_name }} hat inzwischen die Einwilligung zur Veröffentlichung der erhaltenen Zahlungen widerrufen.
        </p>
      {% endif %}
      {% if object.note %}
        <p>
          <strong>Hinweis:</strong> {{ object.note }}
        </p>
      {% endif %}
    </div>


    <div class="page__sidebar">
      <div class="well">
        {% include includes.recipient_sidebar %}
        <a class="well__cta" href="#search">
          {% trans "Continue searching" %}
        </a>
      </div>
    </div>
  </div>

{% if same_address_objects %}
  <div class="page__row">
    <div class="page__section -narrow">
      <header class="page__section-header">
        <h3 class="page__section-headline">{% trans "More organisations and doctors at similar address" %}</h3>
      </header>
      {% include "correctiv_eurosfueraerzte/_recipient_nearby.html" with nearby_objects=same_address_objects %}
    </div>
  </div>
{% endif %}

{% if nearby_objects %}
  <div class="page__row">
    <div class="page__section -narrow">
      <header class="page__section-header">
        <h3 class="page__section-headline">{% trans "Nearby doctors and organisations" %}</h3>
      </header>
      {% include "correctiv_eurosfueraerzte/_recipient_nearby.html" with nearby_objects=nearby_objects %}
    </div>
  </div>
{% endif %}

{% endblock %}
