{% extends "correctiv_eurosfueraerzte/base_recipients.html" %}

{% load i18n %}

{% block title %}{% if query %}{% blocktrans with query=query project_title=project_title %}Search for „{{ query }}” in {{ project_title }} Database{% endblocktrans %}{% else %}{% blocktrans with project_title=project_title %}Search in {{ project_title }} Database{% endblocktrans %}{% endif %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans %}The database about money flows from pharma companies to doctors.{% endblocktrans %}">
{% endblock %}

{% block content %}
{% regroup object_list by distance_is_zero as distance_object_list %}

{% if distance_object_list.0.list and distance_object_list.0.grouper %}
  {% include "correctiv_eurosfueraerzte/_map.html" with places=distance_object_list.0.list %}

  <h3>
    {% trans "Exact matches at this address" %}
  </h3>
  {% with match=distance_object_list.0.list.0 %}
    <p>
      {% trans "The following recipients were found at this address:" %}
      <strong>
        {{ match.address }}{% if match.location %}, {{ match.location }}
        {% endif %}
      </strong>
    </p>
  {% endwith %}
  {% include "correctiv_eurosfueraerzte/_recipient_list_table.html" with object_list=distance_object_list.0.list %}
{% endif %}

{% if distance_object_list.1.list %}

  {% include "correctiv_eurosfueraerzte/_recipient_list_table.html" with object_list=distance_object_list.1.list %}
{% elif object_list and not distance_object_list.0.grouper %}
  <h3>{% trans "Your search matched these recipients" %}</h3>
  {% include "correctiv_eurosfueraerzte/_recipient_list_table.html" with object_list=object_list %}
{% endif %}

{% if not object_list %}
  <div class="page__row">
    <div class="page__section">

      <h3>
        {% blocktrans %}
          We could not find any person or organisation for the search criteria.
        {% endblocktrans %}
      </h3>
      <p>
        {% blocktrans %}
          Please note that <strong>only 30% of doctors</strong> allowed pharma companies to release their names. Only these persons are included in the database.
        {% endblocktrans %}
      </p>
      <p>
        {% trans "Try these example searches:" %}
        {% include includes.search_examples %}
      </p>

    </div>
  </div>
{% endif %}
{% if page_obj.has_other_pages %}
  {% include "pagination.html" with page_obj=page_obj getvars="&"|add:getvars %}
{% endif %}
{% endblock %}
