{% extends "correctiv_eurosfueraerzte/base_recipients.html" %}

{% load i18n %}
{% load number_utils %}


{% block title %}{% blocktrans with query=query %}Search for „{{ query }}” in Euros for Doctors Database{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans %}The database about money flows from pharma companies to doctors.{% endblocktrans %}">
{% endblock %}

{% block content %}
{% if object_list %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Doctor Name" %}</th>
          <th>{% trans "Address" %}</th>
          <th class="text-right">{% trans "Total amount" %}</th>
        </tr>
      </thead>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{{ object.get_absolute_url }}">
            {{ object.get_full_name }}
          </a>
        </td>
        <td>
          {{ object.address }}<br/>
          {{ object.postcode }} {{ object.location }}
        </td>
        <td class="text-right">
          {{ object.total|intcomma_floatformat:2 }}&nbsp;€
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% else %}
  <p>
    {% trans "Your search did not give any results" %}
  </p>
{% endif %}
{% if page_obj.has_other_pages %}
  {% include "pagination.html" with page_obj=page_obj getvars="&"|add:getvars %}
{% endif %}
{% endblock %}
