{% extends "correctiv_eurosfueraerzte/base.html" %}

{% load i18n %}
{% load number_utils %}

{% block title %}{% blocktrans with name=object.name %}Pharma company {{ name }}{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans with name=object.name %}Details on which drugs where pushed by {{ name }} through observational studies.{% endblocktrans %}">
{% endblock %}

{% block content %}
<h2>
  {% blocktrans with name=object.name %}Pharma Company „{{ name }}“{% endblocktrans %}
</h2>

<p>{% blocktrans with name=object.name %}„{{ name }}“ is responsible for the following products.{% endblocktrans %}</p>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Number of Observational Studies" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for drug in drug_list %}
      <tr>
        <td>
          <a href="{{ drug.get_absolute_url }}">
            {{ drug.name }}
          </a>
        </td>
        <td>
          {{ drug.study_count }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
