{% extends "correctiv_eurosfueraerzte/base_detail.html" %}

{% load i18n l10n %}
{% load humanize %}
{% load number_utils %}

{% block title %}{% blocktrans with name=object.name %}Pharma company {{ name }}{% endblocktrans %}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{% blocktrans with name=object.name %}Details on which doctors {{ name }} paid money and which drugs were pushed through observational studies.{% endblocktrans %}">
{% endblock %}

{% block header_title %}{{ object.name }}{% endblock %}

{% block header_content %}
  {% if object.sub_names %}
    <span class="efa__header__meta">
      {% for sub_name in object.get_sub_names %}
        {{ sub_name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  {% endif %}
{% endblock %}

{% block header_sidebar_title %}
  {% if payments %}
    {{ payments.total|intword }}&nbsp;€
  {% endif %}
{% endblock %}

{% block header_sidebar_modifier %}--pharma{% endblock %}

{% block header_sidebar_about %}
  {% if payments %}
    <p>
      {% blocktrans with name=object.name %}Gesamtsumme, die die {{ name }} im vergangenen Jahr an Ärzte und Einrichtungen gezahlt hat.{% endblocktrans %}
    </p>
  {% else %}
    <p>
      {% blocktrans with name=object.name %}{{ name }} ist nicht Teil der Veröffentlichungs&shy;initiative.{% endblocktrans %}
    </p>
  {% endif %}
  <a class="efa__header__more-link" href="/recherchen/euros-fuer-aerzte/artikel/2016/07/14/seid-umschlungen-millionen/">Artikel lesen</a>
{% endblock %}

{% block content %}

  <div class="page__row">
    <div class="page__section -narrow">
      <p>
        Die Zahlungen an Ärzte für Tagungsgebühren, Reisekosten, Beratungs&shy;honorare und Spesen werden personenbezogen veröffentlicht – wenn der jeweilige Arzt zustimmt. Für den Rest wird die Summe zusammengefasst angegeben. Grundsätzlich nur zusammengefasst werden die Zahlungen im Rahmen von Studien und Anwendungsbeobachtungen (AWB) veröffentlicht.
      </p>

      {% if payments %}
        {% include "correctiv_eurosfueraerzte/_company_payment_barchart.html" %}
      {% endif %}

    </div>

    <div class="page__sidebar">
      <div class="well">
        <p>
          Die Informationen auf dieser Seite stammen von den 54 Mitgliedsfirmen der „Freiwilligen Selbstkontrolle für die Arzneimittelindustrie e.V.“, die diese Angaben auf ihren jeweiligen Webseiten veröffentlicht haben.
        </p>
          {% if object.payments_url %}
          <p>
            <a href="{{ object.payments_url }}">Veröffentlichung von „{{ object.name }}“</a>
          </p>
          {% endif %}

        <a class="well__cta" href="#search">
          {% trans "Continue searching" %}
        </a>

      </div>
    </div>
  </div>

{% if payments %}
  <div class="page__row">
    <header class="page__section-header ">
      <h3 class="page__section-headline">{% trans "Payments to doctors" %}</h3>
    </header>
    {% trans "Payments to doctors in 2015" as hcp_description %}
    {% for label in payments.hcp.labels %}
      {% include "correctiv_eurosfueraerzte/_company_payment_label.html" with label=label kind="hcp" description=hcp_description %}
    {% endfor %}
  </div>

</div>

  <div class="page__block">
    <div class="page__container">
      <div class="page__row">
        <header class="page__section-header ">
          <h3 class="page__section-headline">{% trans "Payments to organisations" %}</h3>
        </header>
        {% trans "Payments to organisations in 2015" as hco_description %}
        {% for label in payments.hco.labels %}
          {% include "correctiv_eurosfueraerzte/_company_payment_label.html" with label=label kind="hco" description=hco_description %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}

{% if drug_list %}
<div class="page__container">

  <div class="page__row">
    <div class="page__section -narrow">
      <header class="page__section-header ">
        <h3 class="page__section-headline">{% trans "Observational Studies" %}</h3>
      </header>

      <p>{% blocktrans with name=object.name %}Die {{ name }} hat den Behörden folgende Anwendungsbeobachtungen (AWB) gemeldet. Bei AWBs erhalten Ärzte Geld dafür, dass sie beobachten, wie gut ein Patient ein bestimmtes Präparat verträgt. Viele Wissenschaftler halten AWBs aber für ein Marketinginstrument, weil sie methodisch in der Regel zu schlecht sind, um daraus medizinische Erkenntnisse zu gewinnen.{% endblocktrans %}</p>
    </div>

    <div class="page__sidebar">

    </div>
  </div>

{# TODO: Direct payments total with link to search #}

{# TODO: Aggregate payments list #}

<h3>{% blocktrans with name=object.name %}„{{ name }}“ is responsible for the following products.{% endblocktrans %}</h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Number of Observational Studies" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for drug in drug_list %}
      <tr>
        <td>
          <a href="{{ drug.get_absolute_url }}">
            {{ drug.name }}
          </a>
        </td>
        <td>
          {{ drug.study_count }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% endblock %}
